<section>
  <h1>Tweets</h1>
<a class="twitter-timeline" height="300" width="100%" data-tweet-limit="2" data-dnt="true" href="https://twitter.com/johntrimble" data-widget-id="353888304896307200" data-chrome="noheader noscrollbar transparent">Tweets by @johntrimble</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</section>
